body {
    font-family: Arial, Helvetica, sans-serif
     
}

.hometitle {
    text-align :center;
    margin: 0 auto;
    background-color: dimgray;
    color: white;
    border: 5px solid black;
    padding: 10px;
    font-size: 45px;

}
ul {
    border: 2px solid black;
    list-style-type: none;
    text-align: center;
    
}